img {
	width: 30%;
	float:left;
	margin:1.66%;
}
h1 {
	font-size: 30px;
	margin-left: 1.66%;
	text-transform: uppercase;
	border-bottom: 2px solid #f2f2f2;
	width: 30%;
	padding-bottom: 5px;
}
table tr td:nth-of-type(1){
	border-bottom: 2px solid black;
	width: 100%;
}